body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#343a40, #000000);
}

#quizMain {
    background-color: #343a4000;
    color: #f0f0f0;
}

#hud {
    background-color: #343a4000;
}

#questions, #answers, #menuCard {
    color: #343a40;
}

#menuRow {
    margin-bottom: -200px;
}

/* #menuCard {
    background-image: linear-gradient(#fcfcd8, #dddddd);
} */

.startFadeIn {
    position: relative;
    transform: translateY(10px);
    z-index: 1;
    opacity: 100;
    transition-property: opacity, transform, z-index;
    transition-duration: 0.5s;
}

.startFadeOut {
    z-index: -1;
    opacity: 0;
    transform: translateY(0px);
}

/* #questions, #cardA, #cardB, #cardC, #cardD { */
.fadeOut {
    position: relative;
    opacity: 0;
    z-index: -1;
    transform: translateY(-20px);
    transition-property: opacity, transform, z-index;
    transition-duration: 0.5s;
}

/* #questions:hover, #cardA:hover,  #cardB:hover,  #cardC:hover, #cardD:hover { */
.fadeIn {
    opacity: 100;
    z-index: 0;
    transform: translateY(0px);
    transition-property: opacity, transform, z-index;
    transition-duration: 0.5s;
}