body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: none;
    background-position: bottom;
    background-color: #1e1e1e;
    background-image: url(./images/JSclip.png);
}

#quizMain {
    background-color: #343a4000;
    color: #f0f0f0;
    max-width: 500px;
    min-width: 412px;
}

.hud {
    background-color: #1e1e1ec9;
}

#questions, #answers {
    color: #343a40;
}

#menuRow {
    margin-bottom: -150px;
}

#menuCardBody {
    background-color: #00000000;
    border: none;
}

#menuCard {
    background-color: #1e1e1ec9;
    color: #f0f0f0;
    border: none;
}

.startFadeIn {
    position: relative;
    transform: translateY(10px);
    z-index: 1;
    opacity: 100;
    transition-property: opacity, transform, z-index;
    transition-duration: 0.4s;
}

.startFadeOut {
    z-index: -1;
    opacity: 0;
    transform: translateY(0px);
}

.fadeOut {
    position: relative;
    opacity: 0;
    z-index: -1;
    transform: translateY(-20px);
    transition-property: opacity, transform, z-index;
    transition-duration: 0.4s;
}

.fadeIn {
    opacity: 100;
    z-index: 0;
    transform: translateY(0px);
    transition-property: opacity, transform, z-index;
    transition-duration: 0.4s;
}

.modal-content {
    text-align: center;
    color: #f0f0f0;
    background-image: url(./images/CSSclip.png);
}

.modalX {
    color: white;
}